html,body,div,span,h1,form{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}

body {
	font-family: 'Hind', sans-serif;
} 

h1 {
	font-size: 45px;
	color: #fff;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-align: center;
	padding: 1em 0 0.4em 0;
}

@keyframes slideleft {
    from {
        background-position: 0%;
    }
    to {
        background-position: 90000%;
    }
}

@-webkit-keyframes slideleft {
    from {
        background-position: 0%;
    }
    to {
        background-position: 90000%;
    }
}

.yourlayouts-main{
    background-image: url('../images/bg.jpg');
    background-repeat: repeat-x;
    animation: slideleft 20000s infinite linear;
    -webkit-animation: slideleft 20000s infinite linear;
    background-size: cover;
    -webkit-background-size:cover;
    -moz-background-size:cover; 
    background-attachment: fixed;
    position: relative;
    min-height: 100vh;
}

.bg-layer {
    background: rgba(0, 0, 0, 0.7);
    min-height: 100vh;
}

.icon1 {
	margin: 0 0 1em;
	padding: .8em 1em;
	background: rgba(255, 255, 255, 0.94);
    border-radius: 25px;
}

.icon1 span.fa {
    color: #222;
    width: 22px;
}

.main-icon {
    text-align: center;
}

.main-icon span.fa{
    font-size: 50px;
    color: #fff;
    margin-bottom: 1em;
}

a {
    color: white;
    margin: 0em;
}

.bottom {
    margin: 1em 0 0;
}

.header-main {
	max-width: 310px;
	margin: 0 auto;
	position: relative;
	z-index: 999;
	padding: 3em 2em;
	background: rgba(255, 255, 255, 0.04);
	-webkit-box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
	box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
}

.header-left-bottom input[type="text"] {
    outline: none;
    font-size: 15px;
    color: #222;
    border:none;
    width: 82%;
    display: inline-block;

    background: transparent;
    letter-spacing: 1px;
}

.header-left-bottom input[type="password"]{
	outline: none;
	font-size: 15px;
    color: #222;
    border:none;
    width: 82%;
    display: inline-block;
    background: transparent;
    letter-spacing: 1px;
}

.header-left-bottom input.btn {
    background: #007cc0;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    padding: .8em 2em;
    letter-spacing: 1px;
    transition: 0.5s all;s
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 25px;
}

@media(max-width:667px){
	
	h1 {
		font-size: 40px;
		letter-spacing: 3px;
	}
}

@media(max-width:415px){
	
	h1 {
		font-size: 35px;
		letter-spacing: 3px;
	}
}

@media(max-width:384px){
	.main-icon span.fa {
		margin-bottom: .6em;
	}
	.header-main {
		max-width: 310px;
		margin: 0 1em;
	}
	.header-left-bottom input[type="text"],.header-left-bottom input[type="password"] {
		width: 88%;
	}

	h1 {
		font-size: 30px;
	}
} 

#error{font-size:15px; margin-top:10px}
}